*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html{
    font-size: 62.5%;
    font-family: 'Roboto', sans-serif;
}
body{
    background-color: rgb(32, 33, 36);
}
li{
    list-style: none;
}
a{
    text-decoration: none;
}
a:hover{
    text-decoration: underline;
}
header{
    height: 6vh;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 1rem 1rem;
    gap: 1.5rem;
}
header a{
    display: flex;
    color: rgb(255, 255, 255);
    font-size: 1.345rem;
}
.header_btnContainer{
    width: 4rem;
    height: 4rem;
}
.header_btnContainer:hover{
    background-color: rgb(46, 48, 53);
    border-radius: 5rem;
}
.btnApp{
    background-image: url('../images/app_simbol.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: 2.3rem;
}
.btnImgProfile{
    background-image: url('../images/app_simbol.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: 2.5rem;
}
.toffle{
    display: none;
    position: absolute;
    top: 5.5rem;
    right: 2.5rem;
    width: 34.5rem;
    height: 55.0rem;
    border: solid 1px black;
    border-radius: 2.8rem;
    background-color: aquamarine;
    padding: 5px;
}
.toffle ul{
    background-color: azure;
    border: solid 1px black;    
    border-radius: 2.8rem;
    padding: 10px;
    height: 100%;
    display: flex;
}

section{
    min-height: calc(100vh - 16vh);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.section_logo{
    width: 27.2rem;
    height: 9.2rem;
    margin: 1.5rem 0;
}
.section_searcherContainer{
    width: 100%;
    max-width: 58.4rem;
    height: 48px;
    border: 1px solid #5f6368;
    border-radius: 50px;
    display: flex;
    align-items: center;
    margin: 15px 0;
    padding: 0 15px;
    gap: 2rem;
}
.section_searcherContainer:hover{
    background-color: rgb(46, 48, 53);
    border: solid 1px black;
}
.section_searcherContainer a{
    display: flex;
    height: 2.4rem;
    width: 2.4rem;
}
.searcherContainer_lupa{
    width: 2.2rem;
}
.searcherContainer_texbox{
    flex-grow: 3;
    border: none;
    outline: none;
    font-size: 1.8rem;
    background-color: transparent;
    color: rgb(255, 255, 255);
}
.searcherContainer_mic{
    background-image: url('../images/mic.svg');
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
}
.searcherContainer_cam{
    background-image: url('../images/cam.svg');
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
}
.section_buttonsContainer{
    max-width: 58.4rem;
    margin:15px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 1rem;
}
.buttonsContainer_button{
    border: 1px solid black;
    color: #e8eaed;
    border-radius: 5px;
    padding: 10px 20px;
    background-color: #303134;
    font-size: 1.450rem;
}
.buttonsContainer_button:hover{
    text-decoration: none;
    border: 1px solid #5f6368;
}
.searcherContainer_expandible{
    display: none;
}
section small{
    font-size: 1.3rem;
    color: rgb(189, 193, 198);
}
section small a{
    color: #8ab4f8;
}
footer{
    height: 10vh;
    color: rgb(153, 157, 162);
    background-color: rgb(23, 23, 23);
}
footer p{
    font-size: 1.5rem;
    padding: 1.5rem 2.6rem;
}
footer a{
    font-size: 1.4rem;
    color: rgb(153, 157, 162);
}
footer nav{
    display: flex;
    justify-content: space-between;
    border-top: solid 1px rgb(60, 64, 67);
    padding: 1.5rem 3rem;
}
footer nav ul{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 3rem;
}
footer nav ul:nth-child(2){
    justify-content: flex-end;
}

@media only screen and (max-width:425px){
    header{
        padding: 1rem 1rem;
        gap: 1rem;
    }
    header a{
        font-size: 1.1rem
    }
    .header_btnContainer{
        width: 2rem;
        height: 2rem;
    }
    section{
        height: calc(100vh - 14.6rem);
    }
    .section_logo{
        width: 45%;
        height: auto;
    }
    .section_searcherContainer{
        width: 90%;
        gap:.5rem;
    }
    .searcherContainer_texbox{
        width: 50%;
        font-size: 1.5rem;
    }
    .section_buttonsContainer{
        width: 90%;
    }
    .buttonsContainer_button{
        font-size: 1.3rem;
    }
    section small{
        font-size: 1.2rem;
        margin-top: 1rem;
    }
    footer{
        height: auto;
    }
    footer p{
        font-size: 1.2rem;
    }
    footer a{
        font-size: 1.2rem;
    }
    footer nav{
        padding: 1rem 1.2rem;
    }
    footer nav ul{
        gap: 1.3rem;
    }
}
@media screen and (max-width:768px) {
    header{
        padding: 1rem 1rem;
        gap: 1rem;
    }
    header a{
        font-size: 1.1rem
    }
    .header_btnContainer{
        width: 2rem;
        height: 2rem;
    }
    .section_searcherContainer{
        width: 90%;
        gap:1rem;
    }
    footer{
        height: auto;
    }
    footer p{
        font-size: 1.2rem;
    }
    footer a{
        font-size: 1.2rem;
    }
    footer nav{
        padding: 1rem 1.2rem;
    }
    footer nav ul{
        gap: 1.3rem;
    }
}